<footer class="footer">
  <div class="footer-content">

    <div class="footer-left">
      <h2>MyCar</h2>
      <p>Tu concesionaria y marketplace de autos mas confiables en el mercado.</p>
    </div>

    <div class="footer-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/vender">Vender</a>
      <a routerLink="/">Autos</a>
    </div>

    <div class="footer-social">
      <a href="#">Instagram</a>
      <a href="#">Facebook</a>
      <a href="#">WhatsApp</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 MyCar - Todos los derechos reservados..</p>
  </div>
</footer>
