<app-header></app-header>

<div class="profile-page">
  <div class="overlay"></div>

  <div class="left-content">
    @if (user) {
      <p>{{ user.nombre }}</p>

      <div class="line"></div>

      <div class="email-box">
        <span class="material-symbols-outlined">mail</span>
        <p>{{ user.email }}</p>
      </div>
    }
        
        <div class="pr-box">
            <div class="number-post">
                <span>{{ myPosts.length }}</span>
                <p>Publicaciones</p>
            </div>
        </div>

            <div class="line"></div>
    
            <div class="action-btn">
                <span class="material-symbols-outlined">edit</span>
                <button (click)="openEditModal()">Editar Perfil</button>
            </div>

            <div class="action-btn logout">
                <span class="material-symbols-outlined">logout</span>
                <button (click)="authService.logout()">Cerrar sesión</button>
            </div>
        </div>

  <div class="right-content">
    <div class="welcome">
      <div class="welcome-text">
        <span>Bienvenido de vuelta</span>

        <p>
          Hola, <span class="color">{{ user?.nombre }}</span>
        </p>

        <p>
          Gestiona tus publicaciones, reservas y favoritos <br />
          desde tu perfil.
        </p>
      </div>

      <div class="welcome-image">
        <img src="/profileWelcome.png" alt="Imagen de bienvenida" />
      </div>
    </div>

    <div class="my-post">
      <div class="section-header">
        <div class="title-box">
          <span class="material-symbols-outlined">directions_car</span>
          <h2>Mis Publicaciones</h2>
        </div>

        <button class="view-all" routerLink="/mis-publicaciones">
          Ver todas
          <span class="material-symbols-outlined">arrow_forward</span>
        </button>
      </div>

      <div class="post-container">
        @for (post of myPosts.slice(0, 2); track post.id) {
          <div class="post-card">
            <div class="post-img-container" [routerLink]="['/publicacion', post.id]">
              <img [src]="getImageUrl(post.auto.imagenesUrl[0])" alt="Imagen del auto" />
            </div>

            <div class="post-info">
              <h3>{{ post.auto.marca }} {{ post.auto.modelo }}</h3>

              <p class="year-km">{{ post.auto.anio }} - {{ post.auto.km }} km</p>

              <p class="price">${{ post.auto.precio }}</p>

              <div class="status">
                {{ post.estado }}
              </div>
            </div>
          </div>
        }
      </div>
    </div> 
</div>

    @if(isEditModalOpen) {
        <div class="custom-modal-overlay" (click)="closeEditModal()">
            <div class="custom-modal" (click)="$event.stopPropagation()">
                <h2>Editar Perfil</h2>
                <p>Actualizá tu información personal.</p>

                <div class="form-group">
                    <label for="emailInput">Correo Electrónico</label>
                    <input type="email" id="emailInput" name="email" [ngModel]="user?.email" #email="ngModel" required email>
                    @if(email?.hasError("required") && email?.touched){
                        <p class="msjError">El email es obligatorio.</p>
                    }@else if(email?.hasError("email") && email?.touched){
                        <p class="msjError">El email no es válido.</p>
                    }
                </div>

                <div class="modal-actions">
                    <button class="btn-cancel" (click)="closeEditModal()">Cancelar</button>
                    <button class="btn-save" [disabled]="email.invalid" (click)="editProfile(email.value)">Guardar Cambios</button>
                </div>
            </div>
        </div>
    }
    
    @if(showCompleteProfileModal) {
        <div class="custom-modal-overlay">
            <div class="custom-modal">

                <h2>Completa tu perfil</h2>

                <p>Necesitamos tu teléfono para que los compradores puedan contactarte.</p>

                <div class="form-group">
                    <label>Teléfono</label>

                    <input type="text" [(ngModel)]="telefono" placeholder="2231234567">
                </div>

                <div class="modal-actions">
                    <button class="btn-save" (click)="savePhone()">Guardar</button>
                </div>

            </div>
        </div>
    }
</div>
