header{
    position: fixed;
    z-index: 9999;
    right: 50%;
    top: 4%;
    transform: translateX(50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    width: 50%;
    height: 65px;
    transition: 0.4s ease-in-out;
}
header:hover{
    box-shadow: 0 0 8px #502802;
}

ul{
    display: flex;
    gap: 40px;
}
li{
    position: relative;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #777;
    transition: 0.3s ease-in-out;
}
li::before{
    position: absolute;
    content: '';
    border-bottom:2px solid #D36D4C;
    width: 0%;
    transform: translateY(25px);
    transition: 0.4s ease-in-out;
}
li:hover{
color: #FF7F0E;
}
li:hover::before{
   width: 100%;
}
#logo{
    font-size: 18px;
    font-weight: 750;
    background: linear-gradient(to right, #FF7F0E, #974e04);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #FF7F0E, #864708);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-image: linear-gradient(to right, #ff9131, #aa5c0d);
}
#buttons{
    display: flex;
    gap: 20px;
}


