<header>
    <span id="logo" routerLink="/" style="cursor: pointer;">MyCar</span>

    <button class="menu-toggle" (click)="menuOpen = !menuOpen">
        <span class="material-symbols-outlined">{{ menuOpen ? 'close' : 'menu' }}</span>
    </button>
        
    <nav [class.open]="menuOpen">
        <ul>
            <li [class.active]="seccionActiva === 'inventory'" style="cursor: pointer;" routerLink="/" fragment="inventory" (click)="menuOpen = false">
                Nuestros Autos
            </li>
            
            <li routerLink="/vender" routerLinkActive="active" style="cursor: pointer;" (click)="menuOpen = false">Vende tu Auto</li>
            <li routerLink="/marketplace" routerLinkActive="active" style="cursor: pointer;" (click)="menuOpen = false">MarketPlace</li>
            
            @if (authService.isAdmin()) {
                <li routerLink="/gestionar" routerLinkActive="active" style="cursor: pointer;" (click)="menuOpen = false">Gestionar</li>
            }
        </ul>
    </nav>

    @if(!authService.isLoggedIn()){
        <div id="buttons">
            <button class="login-btn" routerLink="/login">Log in</button>
            <button class="signup-btn" routerLink="/registro">Sign Up</button>
        </div>
    }@else{
        <div class="header-actions">
            @if(!authService.isAdmin()){
                <div class="chat-btn" routerLink="/chats">
                <span class="material-symbols-outlined">chat</span>
                @if (cantidadNoLeidos > 0) {
                    <span class="unread-badge">{{ cantidadNoLeidos > 99 ? '99+' : cantidadNoLeidos }}</span>
                }
            </div>
            }
            <div class="profile-btn" [routerLink]="authService.isAdmin() ? '/perfil-admin' : '/perfil'">
                <span class="material-symbols-outlined">account_circle</span>
            </div>
        </div>
    }

</header>
