header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 20px 20px 20px 20px;
}

ul{
    display: flex;
    gap: 40px;
}
li{
    position: relative;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #777;
    transition: 0.3s ease-in-out;
}
li::before{
    position: absolute;
    content: '';
    border-bottom:2px solid #D36D4C;
    width: 0%;
    transform: translateY(25px);
    transition: 0.4s ease-in-out;
}
li:hover{
color: #D36D4C;
}
li:hover::before{
   width: 100%;
}
#logo{
    font-size: 28px;
    font-weight: 750;
    background: linear-gradient(to right, #FF7F0E, #974e04);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #FF7F0E, #864708);
    color: #fff;
    cursor: pointer;
}
#buttons{
    display: flex;
    gap: 20px;
}


