<app-header></app-header>

<div class="profile-page">
  <div class="overlay"></div>

  <!-- ================= LEFT CONTENT ================= -->
  <div class="left-content">
    @if (user) {
      <p>{{ user.nombre }}</p>
      <div class="line"></div>
      <div class="email-box">
        <span class="material-symbols-outlined">mail</span>
        <p>{{ user.email }}</p>
      </div>
    }
        <div class="pr-box">
            <div class="number-post">
                <span>{{ myPosts.length }}</span>
                <p>Publicaciones</p>
            </div>
            <div class="line"></div>
            <div class="number-reservation">
                <span>{{ myReservations.length }}</span>
                <p>Reservas</p>
            </div>
            <div class="line"></div>
            <div class="number-favorite">
                <span>{{ myFavorites.length }}</span>
                <p>Favoritos</p>
            </div>
        </div>

    <button class="action-btn" (click)="irChats()">
      <span class="material-symbols-outlined"> chat </span>
      Chats
    </button>
    
    <button class="action-btn" (click)="openEditModal()">
      <span class="material-symbols-outlined">edit</span>
      Editar Perfil
    </button>

    <button class="action-btn logout" (click)="authService.logout()">
      <span class="material-symbols-outlined">logout</span>
      Cerrar sesión
    </button>
  </div>

  <!-- ================= RIGHT CONTENT ================= -->
  <div class="right-content">
    
    <div class="welcome">
      <div class="welcome-text">
        <span>Bienvenido de vuelta</span>
        <p>Hola, <span class="color">{{ user?.nombre }}</span></p>
        <p>
          Gestiona tus publicaciones, reservas y favoritos <br />
          desde tu perfil.
        </p>
      </div>
      <div class="welcome-image">
        <img src="/profileWelcome.png" alt="Imagen de bienvenida" />
      </div>
    </div>

    <!-- MIS PUBLICACIONES -->
    <div class="my-post">
      <div class="section-header">
        <div class="title-box">
          <span class="material-symbols-outlined">directions_car</span>
          <h2>Mis Publicaciones</h2>
        </div>

        <a class="view-all" routerLink="/mis-publicaciones" target="_blank">
          Ver todas
          <span class="material-symbols-outlined">arrow_forward</span>
        </a>
      </div>

      <div class="post-container">
        @for (post of myPosts.slice(0, 2); track post.id) {
          <div class="post-card">
            <a class="post-img-container" [routerLink]="['/publicacion', post.id]" target="_blank">
              <img [src]="getImageUrl(post.auto.imagenesUrl[0])" alt="Imagen del auto" />
            </a>

            <div class="post-info">
              <h3>{{ post.auto.marca }} {{ post.auto.modelo }}</h3>
              <p class="year-km">{{ post.auto.anio }} - {{ post.auto.km }} km</p>
              <p class="price">${{ post.auto.precio }}</p>
              <div class="status">
                {{ post.estado }}
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <!-- MIS RESERVAS -->
    <div class="my-reservations">
      <div class="section-header">
        <div class="title-box">
          <span class="material-symbols-outlined">calendar_today</span>
          <h2>Mis Reservas</h2>
        </div>

        <a class="view-all" routerLink="/mis-reservas" target="_blank">
          Ver todas
          <span class="material-symbols-outlined">arrow_forward</span>
        </a>
      </div>

      <div class="post-container">
        @for (reservation of myReservations.slice(0, 2); track reservation.id) {
          <div class="post-card">
            <a class="post-img-container" [routerLink]="['/publicacion', reservation.publicacion.id]" target="_blank">
              <img [src]="getImageUrl(reservation?.publicacion?.auto?.imagenesUrl?.[0] || '')" alt="Imagen del auto" (error)="onImageError($event)">
            </a>

            <div class="post-info"> 
              <h3>{{ reservation?.publicacion?.auto?.marca || 'Marca' }} {{ reservation?.publicacion?.auto?.modelo || 'Modelo' }}</h3>

              <p class="year-km">{{ reservation?.publicacion?.auto?.anio || '0000' }} - {{ reservation?.publicacion?.auto?.km || '0' }} km</p>
              
              <p class="price">{{ formatearFecha(reservation?.fecha) }}</p>

              <div class="status">{{ reservation?.estado }}</div>
            </div>
          </div>
        }
      </div>
    </div>

        <div class="my-favorite">
            <div class="section-header">
            
                <div class="title-box">
                    <span class="material-symbols-outlined">favorite</span>
                    <h2>Mis Favoritos</h2>
                </div>

                <a class="view-all" routerLink="/mis-favoritos" target="_blank">
                   Ver todas
                  <span class="material-symbols-outlined">arrow_forward</span>
              </a>
            </div>
    
            <div class="post-container">
                @for(favorite of myFavorites.slice(0,2); track favorite.id){
                    <div class="post-card">
                        <a class="post-img-container" [routerLink]="['/publicacion', favorite.id]" target="_blank">
                          <img [src]="getImageUrl(favorite.auto.imagenesUrl[0])" alt="Imagen del auto">
                        </a>
                        
                        <div class="post-info">
                            <div class="fav-header">
                                <h3>{{ favorite.auto.marca }} {{ favorite.auto.modelo }}</h3>
                                <!-- Botón para quitar de favoritos -->
                                <button class="btn-remove-fav" (click)="quitarFavorito(favorite.id)" title="Quitar de favoritos">
                                    <span class="material-symbols-outlined">favorite</span>
                                </button>
                            </div>
                            
                            <p class="year-km">
                                {{ favorite.auto.anio }} - {{ favorite.auto.km }} km
                            </p>

                            <p class="price">
                                ${{ favorite.auto.precio | number:'1.0-0' }}
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
  </div>
</div>

 <!-- MODAL EDITAR PERFIL -->
    @if(isEditModalOpen) {
      <div class="custom-modal-overlay" (click)="closeEditModal()">
        <div class="custom-modal" (click)="$event.stopPropagation()">
          <h2>Editar Perfil</h2>
          <p>Actualizá tu información personal.</p>

          <div class="form-group">
            <label for="emailInput">Correo Electrónico</label>
            <input type="email" id="emailInput" name="email" [ngModel]="user?.email" #email="ngModel" required email>
            
            @if(email?.hasError("required") && email?.touched){
              <p class="msjError">El email es obligatorio.</p>
            }@else if(email?.hasError("email") && email?.touched){
              <p class="msjError">El email no es válido.</p>
            }
          </div>

          <div class="modal-actions">
            <button class="btn-cancel" (click)="closeEditModal()">Cancelar</button>
            <button class="btn-save" [disabled]="email.invalid" (click)="editProfile(email.value)">Guardar Cambios</button>
          </div>
        </div>
      </div>
    }
    
    <!-- MODAL COMPLETAR PERFIL -->
    @if(showCompleteProfileModal) {
        <div class="custom-modal-overlay">
            <div class="custom-modal">

                <h2>Completa tu perfil</h2>

                <p>Necesitamos tu teléfono para que los compradores puedan contactarte.</p>

                <div class="form-group">
                    <label>Teléfono</label>

                    <input type="text" [(ngModel)]="telefono" placeholder="2231234567">
                </div>

                <div class="modal-actions">
                    <button class="btn-save" (click)="savePhone()">Guardar</button>
                </div>

            </div>
        </div>
    }
