<div id="total_container">
  <div id="content">
    <div>
      <p id="title">Encuentra tu <span>Auto</span> ideal</p>
      <p id="hero">Tu próximo auto está acá. ¿Nuestra agencia o el Marketplace? Vos elegís.</p>
    </div>
    <div id="boxes">
      <div class="box">
        <span>10<span class="plus">+</span></span>
        <p>Años de experiencia</p>
      </div>
      <div class="box">
        <span>430<span class="plus">+</span></span>
        <p>Clientes Satisfechos</p>
      </div>
      <a href="tel:+542235555555" id="call_btn">
        <div id="call_icon">
          <span class="material-symbols-outlined"> call </span>
        </div>
        <p>Llamanos!</p>
      </a>
    </div>
    
    <span class="material-symbols-outlined" id="arrow"> keyboard_arrow_down </span>
    <div id="location_icon">
      <span class="material-symbols-outlined"> location_on </span>
      <p>Mar del plata, Constitución 782</p>
    </div>
  </div>
</div>
