<div id="total_container">
    <div id="content">
        <div>
            <p id="title">Encuentra tu <span>Auto</span> ideal</p>
            <p id="hero">Tu próximo auto está acá. ¿Nuestra agencia o el Marketplace? Vos elegís.</p>
        </div>
        <div id="boxes">
            <div>
                <span>10<span class="plus">+</span></span>
                <p>Años de experiencia</p>
            </div>
            <div>
                <span>430<span class="plus">+</span></span>
                <p>Clientes Satisfechos</p>
            </div>
        </div>
    </div>
</div>
