#total_container{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/a255ab72-8ae9-4188-b667-b9e45705137e.jpeg);
    height: 91.8vh; /*Lo puse asi por lo que ocupa el header*/
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
#content{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
#title{
    color: #fff;
    font-size: 80px;
    font-weight: 800;
}
#hero{
    font-size: 18px;
    color: #bfbfbf;
}
span {
    background: linear-gradient(to bottom, #ffb347 0%, #ffe5b4 20%, #ff8c00 50%, #1a1a1a 80%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

/*-- Las Cajas --*/

#boxes{
    display: flex;
    gap: 30px;
}
#boxes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 155px;
    border: 1px solid black;
    background: linear-gradient(135deg, #070707 35%, #472504);
    border-radius: 12px;
    box-shadow: -5px 8px 25px rgba(230, 126, 34, 0.2);
    color: #fff; 
    text-align: center;
    padding: 15px 15px 0 15px;
}
#boxes div span{
    font-size: 45px;
    margin-bottom: 10px;
}
#boxes div p{
    position: relative;
}
#boxes div p::before{
position: absolute;
content: '';
width: 130px;
border-top: 2px solid orange;
left: 50%;
transform: translateX(-50%);
top: -15%;
}
.plus{
    font-size: 25px !important;
}


