<div id="total_container">
    <p>Encuentra tu Auto ideal</p>
    <div id="inputs">
        <form>
            <div class="box">
                <label for="make">MAKE</label>
                <select name="" id="make"></select>
            </div>
            <div class="box">
                <label for="model">MODEL</label>
                <select name="" id="model"></select>
            </div>
            <div class="box">
                <label for="year">YEAR</label>
                <select name="" id="year"></select>
            </div>
            <button>Buscar vehiculo</button>
        </form>
    </div>
</div>
